<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
		
	<!--支持基于注解的配置方式，为@Autowired、@Resource、@PostConstruct、@PreDestroy注解提供支持 --> 	   
    <context:annotation-config/>
	
	<!--支持annotation实现aop，并允许为没有实现接口的类实现切面  -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<!-- 使用外部属性文件配置 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:/application.properties" />
	
	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="pers.contacts">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
 	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${system.sendmail.host}"/>
		<property name="port" value="${system.sendmail.port}"/>
		<property name="username" value="${system.sendmail.username}"/>
		<property name="password" value="${system.sendmail.password}"/>
		<property name="javaMailProperties">
		   <props>
			    <prop key="mail.smtp.auth">${system.sendmail.auth}</prop>
			    <prop key="mail.smtp.timeout">${system.sendmail.timeout}</prop>
			    <prop key="mail.smtp.from">${system.sendmail.from}</prop>
		   </props>
	  	</property>
	</bean>
	
</beans>